body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-repeat:repeat;
    padding: 0;
    margin: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: black;
    z-index: 1000;
}
.Footer .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.Footer .footer-item {
    padding: 14px 16px;
}
  
.Footer .footer-link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.5s;
}

.Footer .footer-link:hover {
    color: #4F2683; 
}

.Navbar ul {
    list-style-type: none; 
    display: flex;
    justify-content: flex-end; 
    padding: 0; 
  }

.Navbar {
    display: flex;
    align-items: center; 
}

.Navbar a:hover {
    color: #4F2683;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .Navbar {
        justify-content: center;
        flex-direction: column;
    }

    .Navbar a {
        margin: 10px;
        padding: 10px 15px;
        text-decoration: none;
    }
}

@media only screen and (min-width: 700px) {
    .Navbar {
        justify-content: flex-end;
    }

    .Navbar a {
        float: right;
        color: #8d74ad;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition: color 0.5s, margin-top ease 0.5s;
    }
}

.Navbar a:hover {
    color: #4F2683;
    margin-top: -5px;
    cursor: pointer;
}

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: morganite;
}

.heading-container{
    font-size: 30px;
    text-align: center;
    color: #9a82ba;
    margin-bottom: 100px !important;
    
}

.heading-container:hover{
    cursor: pointer;
}

.heading-container span span{
    transition: color ease 0.5s;
}

.heading-container span span:hover{
    color: #4F2683;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.catchphrase span {
    position: relative;
    opacity: 0;
    animation: drop-in 0.75s forwards;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes drop-in {
    0% { bottom: -0.2em; opacity: 0; }
    100% { bottom: 0; opacity: 1; }
}


@media only screen and (max-width: 576px) {
    .logo{
        width: 70%;
        height: auto;
    }
}

@media only screen and (min-width: 576px) {
    .logo{
        width: 35%;
        height: auto;
    }
}

.executive-header{
    font-size: 50px;
    margin-right: 15px;
}

.card1{
    background-color: white;
    box-shadow: 10px 10px 5px 13px gray;
    border-radius: 10px;
    border: black;
    width: 700px;
    height: 500px;
    margin-top: 100px;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card2{
    background-color: white;
    box-shadow: 10px 10px 5px 10px gray;
    border-radius: 10px;
    border: black;
    width: 500px;
    height: 300px;
    margin-top: 12%;
    position: absolute;
    margin-left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card3{
    background-color: white;
    box-shadow: 10px 10px 5px 11px gray;
    border-radius: 10px;
    border: black;
    width: 500px;
    height: 300px;
    margin-top: 12%;
    position: absolute;
    margin-right: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .card1 {
        width: 600px;
        height: 450px;
    }

    .card2, .card3 {
        width: 450px;
        height: 270px;
    }
}

@media only screen and (max-width: 992px) {
    .card1 {
        width: 500px;
        height: 400px;
    }

    .card2, .card3 {
        width: 400px;
        height: 240px;
    }
}

@media only screen and (max-width: 768px) {
    .card1 {
        width: 60%;
        height: auto;
    }

    .card2, .card3 {
        width: 40%;
        height: auto;
    }
}

.executives{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
}

.arrow-left {
    position: absolute;
    top: 38%;
    left: 8%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 1100;
}

.arrow-left span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: move-left 2s infinite;
}

.arrow-left span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-left span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes move-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
} 

.arrow-right {
    position: absolute;
    top: 38%;
    right: 8%;
    transform: translate(50%, 50%);
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 1100;
}

.arrow-right span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(225deg);
    margin: -10px;
    animation: move-right 2s infinite;
}

.arrow-right span:nth-child(1) {
    animation-delay: -0.4s;
}

.arrow-right span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-right span:nth-child(3) {
    animation-delay: 0s;
}

@keyframes move-right {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(225deg) translate(20px, 20px);
    }
}


.pfp{
    width: auto;
    height: 70%;
    max-height: 350px;
    margin-top: 30px;
    box-shadow: 7px 7px 7px 7px gray;
    border-radius: 10px;
}

.pfpSmall{
    width: auto;
    height: 200px;
    margin-top: 15px;
    box-shadow: 7px 7px 7px 7px gray;
    border-radius: 10px;
}

.execName{
    font-size: 26px;
    margin-bottom: 4px;
    margin-top: 10px;
}

.execNameSmall{
    font-size: 20p;
    margin-bottom: 4px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .pfp {
        width: 90%; 
        max-width: none; 
    }

    .execName {
        font-size: 20px; 
    }
}